@inherits LayoutComponentBase

<<<<<<< HEAD
<<<<<<< HEAD
<MudRTLProvider RightToLeft="_rightToLeft">
	<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
	<MudPopoverProvider />
	<MudDialogProvider CloseButton="true"
					   CloseOnEscapeKey="true"
					   BackdropClick="false"
					   Position="DialogPosition.Center" />
	<MudSnackbarProvider />
=======
<MudRTLProvider RightToLeft="rightToLeft">
	<MudThemeProvider @bind-IsDarkMode="@isDarkMode"/>
=======
<MudRTLProvider RightToLeft="_rightToLeft">
	<MudThemeProvider @bind-IsDarkMode="@_isDarkMode"/>
>>>>>>> 540a000 (Refactor code structure and add GPIO control features)
	<MudPopoverProvider/>
	<MudDialogProvider CloseButton="true"
	                   CloseOnEscapeKey="true"
	                   BackdropClick="false"
	                   Position="DialogPosition.Center"/>
	<MudSnackbarProvider/>
>>>>>>> be8e5f2 (Home Management)

	<MudLayout>
		<MudAppBar Elevation="1">
			<MudHidden Breakpoint="Breakpoint.SmAndDown">
				<MudLink Href="/">
<<<<<<< HEAD
					<img src="favicon.png" alt="Home Management" class="mud-icon-root mud-icon-size-large" />
				</MudLink>
			</MudHidden>
			<MudHidden Breakpoint="Breakpoint.MdAndUp">
				<MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
=======
					<img src="favicon.png" alt="Home Management" class="mud-icon-root mud-icon-size-large"/>
				</MudLink>
			</MudHidden>
			<MudHidden Breakpoint="Breakpoint.MdAndUp">
				<MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle"/>
>>>>>>> be8e5f2 (Home Management)
			</MudHidden>
			<MudHidden Breakpoint="Breakpoint.Xs">
				<MudLink Href="/" Typo="Typo.h6" Class="ml-4" Color="Color.Inherit">Home Management</MudLink>
			</MudHidden>
			<MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
				<MudLink Href="/" Typo="Typo.subtitle2" Color="Color.Inherit">Home Management</MudLink>
			</MudHidden>
<<<<<<< HEAD
			<MudSpacer />
			<MudToggleIconButton @bind-Toggled="_rightToLeft"
								 Icon="@Icons.Material.Filled.FormatTextdirectionRToL"
								 ToggledIcon="@Icons.Material.Filled.FormatTextdirectionRToL"
								 Color="Color.Inherit" />
		</MudAppBar>

		<MudDrawer @bind-Open="_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5e49c9a (Get Status, Update to .NET 10)
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 3d0106c (Add Dashboard, Add Auth)
=======
>>>>>>> 0de0591 (Get Status, Update to .NET 10)
>>>>>>> d4eca16 (Get Status, Update to .NET 10)
<<<<<<< HEAD
=======
>>>>>>> 3d0106c (Add Dashboard, Add Auth)
>>>>>>> 33bd328 (Add Dashboard, Add Auth)
			<NavMenu/>
=======
			<AuthorizeView>
				<NavMenu />
			</AuthorizeView>
<<<<<<< HEAD
			<AuthorizeView>
				<NavMenu />
			</AuthorizeView>
=======
>>>>>>> 3548e6a (Get Status, Update to .NET 10)
>>>>>>> 5e49c9a (Get Status, Update to .NET 10)
=======
			<MudSpacer/>
			<MudToggleIconButton @bind-Toggled="_rightToLeft"
			                     Icon="@Icons.Material.Filled.FormatTextdirectionRToL"
			                     ToggledIcon="@Icons.Material.Filled.FormatTextdirectionRToL"
			                     Color="Color.Inherit"/>
		</MudAppBar>

		<MudDrawer @bind-Open="_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
			<NavMenu/>
>>>>>>> be8e5f2 (Home Management)
		</MudDrawer>
		<MudMainContent>
			<MudContainer MaxWidth="MaxWidth.False">
				<ErrorBoundary MaximumErrorCount="5">
					<ChildContent>
						@Body
					</ChildContent>
					<ErrorContent Context="exception">
						<MudText Typo="Typo.h1">Error has occurred</MudText>
						<MudText Typo="Typo.body1">@exception.Message</MudText>
					</ErrorContent>
				</ErrorBoundary>
			</MudContainer>
			<MudScrollToTop Style="z-index: 1200">
<<<<<<< HEAD
				<MudFab StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Primary" />
=======
				<MudFab StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Primary"/>
>>>>>>> be8e5f2 (Home Management)
			</MudScrollToTop>
		</MudMainContent>
	</MudLayout>
</MudRTLProvider>


@code {
<<<<<<< HEAD
<<<<<<< HEAD
	private bool _drawerOpen = true;
	private bool _isDarkMode = true;
	private bool _rightToLeft;
=======
	bool _drawerOpen = true;
	private bool isDarkMode = true;
	private bool rightToLeft;
>>>>>>> be8e5f2 (Home Management)
=======
	private bool _drawerOpen = true;
	private bool _isDarkMode = true;
	private bool _rightToLeft;
>>>>>>> 540a000 (Refactor code structure and add GPIO control features)


	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}
}

<div id="blazor-error-ui" data-nosnippet>
<<<<<<< HEAD
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
=======
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
>>>>>>> be8e5f2 (Home Management)
</div>
